In [1]:
import pandas as pd
df = pd.read_csv("animal_rating.csv", index_col=0)
df.head()

          犬    猫  ペンギン  イルカ  パンダ
user_1  NaN  5.0   NaN  5.0  NaN
user_2  NaN  NaN   5.0  NaN  2.0
user_3  NaN  5.0   5.0  NaN  5.0
user_4  4.0  NaN   NaN  4.0  5.0
user_5  5.0  4.0   NaN  NaN  5.0

In [2]:
df_stacked = df.stack().to_frame().reset_index()
df_stacked.columns = ["ユーザーID", "商品ID", "rating"]
df_stacked.head()

   ユーザーID  商品ID  rating
0  user_1     猫     5.0
1  user_1   イルカ     5.0
2  user_2  ペンギン     5.0
3  user_2   パンダ     2.0
4  user_3     猫     5.0

In [4]:
! pip install surprise

Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.3.tar.gz (771 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 772.0/772.0 kB 17.9 MB/s eta 0:00:00m eta 0:00:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: joblib>=1.0.0 in /Users/yutaro/.pyenv/versions/3.11.0/lib/python3.11/site-packages (from scikit-surprise->surprise) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /Users/yutaro/.pyenv/versions/3.11.0/lib/python3.11/site-packages (from scikit-surprise->surprise) (1.24.2)
Requirement already satisfied: scipy>=1.3.2 in /Users/yutaro/.pyenv/versions/3.11.0/lib/python3.11/site-packages (from scikit-surprise->surprise) (1.10.1)
Installing collected packages: scikit-surprise, surprise
  DEPRECATION: scikit-surprise is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559
  Running setup.py install for scikit-surprise ... done
Successfully installed scikit-surprise-1.1.3 surprise-0.1

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: pip install --upgrade pip

In [5]:
from surprise import Dataset, Reader
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(df_stacked, reader)

In [6]:
from surprise.model_selection import train_test_split
train, test = train_test_split(data, test_size=.25) #

In [7]:
from surprise import SVD
model = SVD()
model.fit(train)

In [8]:
from surprise import accuracy
test_pred = model.test(test)
accuracy.rmse(test_pred)
# RMSE: 1.8490

RMSE: 1.1969

1.1969032652789013