In [11]:
# ! pip install surprise

# Anacondaを利用されている方はsurpriseでインストールの問題が発生する場合があるようです。インストールができなかった場合は以下のコマンドをお試してください。
# conda update --all
# conda install -c conda-forge scikit-surprise
# 参考リンク
# https://stackoverflow.com/questions/65679417/getting-errors-while-installing-surprise-package
# https://stackoverflow.com/questions/62042317/cannot-install-scikit-surprise-on-my-jupyter-notebook

In [14]:
import pandas as pd
df = pd.read_csv("animal_rating.csv", index_col=0)
df.head()

          犬    猫  ペンギン  イルカ  パンダ
user_1  NaN  5.0   NaN  5.0  NaN
user_2  NaN  NaN   5.0  NaN  2.0
user_3  NaN  5.0   5.0  NaN  5.0
user_4  4.0  NaN   NaN  4.0  5.0
user_5  5.0  4.0   NaN  NaN  5.0

In [16]:
df_stacked = df.stack().to_frame().reset_index()
df_stacked.columns = ["ユーザーID", "商品ID", "rating"]
df_stacked.head()

   ユーザーID  商品ID  rating
0  user_1     猫     5.0
1  user_1   イルカ     5.0
2  user_2  ペンギン     5.0
3  user_2   パンダ     2.0
4  user_3     猫     5.0

In [17]:
from surprise import Dataset, Reader
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(df_stacked, reader)

In [18]:
from surprise.model_selection import train_test_split
train, test = train_test_split(data, test_size=.25) #

In [19]:
from surprise import SVD
model = SVD()
model.fit(train)

In [20]:
from surprise import accuracy
test_pred = model.test(test)
accuracy.rmse(test_pred)
# RMSE: 1.8490

RMSE: 1.1573

1.1573359733348882