In [12]:
import pandas as pd
df = pd.read_csv("realestate_train.csv")
df.head()

,rent_price,house_area,year_from_built,distance,built_date,balcony_area,house_structure,floor,total_floor
0,81000.0,22.627647,21,360.0,2001-04-01,0.0,RC,4.0,10.0
1,119000.0,29.487423,11,720.0,2011-03-01,0.0,RC,3.0,10.0
2,65000.0,13.960667,32,640.0,1990-03-01,0.0,RC,3.0,6.0
3,230000.0,79.860208,13,480.0,2009-03-01,0.0,RC,15.0,29.0
4,102000.0,34.471313,23,320.0,1999-05-01,0.0,RC,2.0,7.0

In [13]:
# 1. Ridge Regressionモデルクラスの読み込み
from sklearn.linear_model import Ridge
# 2. 特徴量と正解データの設定
# 予測したい列(正解データ)
target_col = "rent_price"
# 使いたい特徴量
feature_cols = ['house_area', 'distance']
# dfはデータ観察で読み込んであります。
# モデルの学習を行うために「X: 特徴量」「y: 正解データ」に分割します
y = df[target_col]
X = df[feature_cols]
# 3. モデルの学習
# モデルの初期化
model = Ridge()
# モデルの学習
model.fit(X, y)

Ridge()

In [14]:
# 学習したモデルを用いて予測を行う。
df["pred_rent_price"] = model.predict(X)
# 予測値と正解の値のみに絞って比較する。
df[["rent_price", "pred_rent_price"]].head()

   rent_price  pred_rent_price
0     81000.0     93257.478559
1    119000.0    102825.371568
2     65000.0     74754.139652
3    230000.0    198256.385738
4    102000.0    115551.833713

In [15]:
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(df["rent_price"], df["pred_rent_price"]))
# => 17763.514918603825

17763.514918603825

In [16]:
df_pred = pd.read_csv("realestate_test.csv")
df_pred.head()

,house_area,year_from_built,distance,built_date,balcony_area,house_structure,floor,total_floor
0,27.688916,17,360.0,2005-04-01,0.0,RC,11.0,11.0
1,34.501054,1,1040.0,2021-08-01,0.0,RC,4.0,7.0
2,20.243089,34,1000.0,1988-03-01,0.0,鉄骨,1.0,4.0
3,50.870947,33,520.0,1989-06-01,0.0,RC,4.0,4.0
4,65.707831,30,480.0,1992-01-01,0.0,鉄骨,3.0,4.0

In [18]:
feature_cols = ['house_area', 'distance']
# 使った特徴量だけに限定
X_pred = df_pred[feature_cols]
# 予測を行う
X_pred["pred_rent_price"] = model.predict(X_pred)
# 先頭を表示
df_pred.head()

/var/folders/kp/lzgg21x57pz4pck1wp24d7fm0000gp/T/ipykernel_54680/3215338067.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_pred["pred_rent_price"] = model.predict(X_pred)

,house_area,year_from_built,distance,built_date,balcony_area,house_structure,floor,total_floor
0,27.688916,17,360.0,2005-04-01,0.0,RC,11.0,11.0
1,34.501054,1,1040.0,2021-08-01,0.0,RC,4.0,7.0
2,20.243089,34,1000.0,1988-03-01,0.0,鉄骨,1.0,4.0
3,50.870947,33,520.0,1989-06-01,0.0,RC,4.0,4.0
4,65.707831,30,480.0,1992-01-01,0.0,鉄骨,3.0,4.0