In [2]:
from pathlib import Path
import pandas as pd

In [3]:
data_dir = Path("../data")

In [4]:
df = pd.read_csv(data_dir / "realestate.csv")

In [5]:
df.head()

,price,square_meter,floor,year_from_built,distance_from_station,station_name
0,47000,16.188945,3,41.0,1440,三鷹
1,106300,61.060637,3,24.0,1200,亀戸
2,138000,39.546712,3,36.0,720,荻窪
3,87000,29.219561,3,31.0,600,荻窪
4,71500,29.287617,3,16.0,880,新小岩

In [6]:
from sklearn.linear_model import Ridge

In [15]:
target_col = 'price'
feature_cols = ['square_meter', 'year_from_built', 'distance_from_station']

y_train = df[target_col]
X_train = df[feature_cols]

model = Ridge()
model.fit(X_train, y_train)

Ridge()

In [16]:
df["pred"] = model.predict(X_train)
df

,price,square_meter,floor,year_from_built,distance_from_station,station_name,pred
0,47000,16.188945,3,41.0,1440,三鷹,232065.401413
1,106300,61.060637,3,24.0,1200,亀戸,520575.233345
2,138000,39.546712,3,36.0,720,荻窪,35816.840786
3,87000,29.219561,3,31.0,600,荻窪,60435.550726
4,71500,29.287617,3,16.0,880,新小岩,476975.267259
...,...,...,...,...,...,...,...
7995,96000,19.760943,4,13.0,640,巣鴨,409498.740909
7996,72000,22.991125,10,30.0,480,駒込,14747.263899
7997,91000,22.125358,3,15.0,360,高田馬場,246644.085858
7998,157000,43.554183,12,12.0,600,浅草橋,448440.900471
7999,63000,24.942157,3,47.0,40,新小岩,-510254.282043

In [43]:
df.drop(columns=['price']).sample(frac=1).to_csv(data_dir / "realestate_pred.csv", index=False)

In [29]:
pd.DataFrame(model.coef_, columns=['coef'], index=feature_cols)

                               coef
square_meter            1598.860779
year_from_built       -19215.083381
distance_from_station    457.874609

In [44]:
df_pred = pd.read_csv(data_dir / "realestate_pred.csv")
df_pred.head()

   square_meter  floor  year_from_built  distance_from_station station_name
0     21.966142      3             46.0                    120        武蔵小金井
1     23.691395      3             43.0                    680           大崎
2     20.627782      2             17.0                    720          武蔵境
3     26.659574      6             37.0                    680          錦糸町
4     39.785396      3             30.0                    280           三鷹

In [17]:
feature_cols

['square_meter', 'year_from_built', 'distance_from_station']

In [45]:
X_pred = df_pred[feature_cols]

In [46]:
pd.DataFrame(model.coef_, columns=['coef'], index=feature_cols)

                               coef
square_meter            1598.860779
year_from_built       -19215.083381
distance_from_station    457.874609

In [47]:
X_pred["pred"] = model.predict(X_pred)

/var/folders/84/j447bb1n2hv68d1ps54d6jlh0000gn/T/ipykernel_39981/3019232318.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_pred["pred"] = model.predict(X_pred)

In [49]:
X_pred.head()

   square_meter  year_from_built  distance_from_station           pred
0     21.966142             46.0                    120 -459167.808091
1     23.691395             43.0                    680 -142354.337143
2     20.627782             17.0                    720  370654.523954
3     26.659574             37.0                    680  -22318.131657
4     39.785396             30.0                    280  -49976.029323

In [50]:
coef_df = pd.DataFrame(model.coef_, columns=['coef'], index=feature_cols)
coef_df

                               coef
square_meter            1598.860779
year_from_built       -19215.083381
distance_from_station    457.874609

In [42]:
df = pd.read_csv(data_dir / "realestate.csv")
df["unit_price"] = df["price"] / df["square_meter"]

In [43]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [44]:
# df[["year_from_built", "distance_from_station"]] = sc.fit_transform(df[["year_from_built", "distance_from_station"]])

In [45]:
df_processed = pd.get_dummies(df, columns=["station_name", "floor"])
X = df_processed.drop(["price", "square_meter", "unit_price"], axis=1)
y = df["unit_price"] 

model = Ridge()
model.fit(X, y)

Ridge()

In [40]:
df_pred = df.copy()
df_pred["pred"] = model.predict(X)
df_pred.head(20)

,price,square_meter,floor,year_from_built,distance_from_station,station_name,unit_price,pred
0,47000,16.188945,3,1.259104,1.467497,三鷹,2903.215694,6713.036653
1,106300,61.060637,3,-0.116281,0.948916,亀戸,1740.892404,19630.006561
2,138000,39.546712,3,0.854579,-0.088244,荻窪,3489.544238,2975.092874
3,87000,29.219561,3,0.450054,-0.347534,荻窪,2977.457479,4634.008159
4,71500,29.287617,3,-0.763520,0.257476,新小岩,2441.304781,13316.629325
5,162000,33.449253,12,-1.572570,-1.298265,浅草橋,4843.157491,4294.035523
6,60000,26.395352,3,1.825439,1.294637,小岩,2273.127521,-2484.182925
7,71000,21.957794,3,1.259104,0.257476,中野,3233.475950,1289.649396
8,165500,29.873397,7,-1.410760,-0.433965,高田馬場,5540.046234,8329.455381
9,129000,20.859449,8,-1.087140,-0.952545,水道橋,6184.247757,5843.850418
10,79000,23.272348,3,0.935484,1.208207,新小岩,3394.586548,5689.720253
11,85000,44.493776,3,1.340009,0.551338,三鷹,1910.379571,1764.999449
12,116000,36.856333,7,-0.439901,-1.298265,大塚,3147.355936,1394.183249
13,90000,28.581988,2,0.530959,0.430336,荻窪,3148.836255,-2852.941532
14,79000,26.014339,3,-1.572570,1.553927,武蔵境,3036.786761,26419.132461
15,95000,41.493576,4,0.773674,-0.433965,高円寺,2289.511010,-7963.007229
16,107000,45.627554,4,0.530959,-1.298265,武蔵境,2345.074189,-12916.746121
17,71000,34.872140,3,1.259104,-0.952545,国分寺,2036.009277,-3037.170143
18,91000,20.425955,3,-1.006235,0.862486,三鷹,4455.116107,20042.184623
19,45000,12.849791,3,0.369149,0.430336,立川,3502.002528,9607.490883

In [34]:
pd.DataFrame(model.coef_, columns=['coef'], index=X.columns)

                              coef
year_from_built        -579.161410
distance_from_station    10.305494
station_name_三鷹       -7235.435378
station_name_上野        -284.017667
station_name_中野       -6888.767369
...                            ...
floor_55              -1499.761649
floor_56                713.098759
floor_201             -2905.222290
floor_205              8015.027648
floor_301              4051.207618

[97 rows x 1 columns]

In [52]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [55]:
y = df[target_col]
X = df[feature_cols]

In [58]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.3)

model = LinearRegression()
model.fit(X_train, y_train)

y_valid_pred = model.predict(X_valid)
mse = mean_squared_error(y_valid, y_valid_pred) # 追記
print('MSE: ',  mse)

MSE:  234399822154.10922